@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: clamp(2.5rem, 1.0849rem + 6.0377vw, 3.5rem);
    letter-spacing: clamp(0.390625rem, 0.1695rem + 0.9434vw, 0.546875rem);
    @apply font-heading font-black uppercase leading-normal text-white;
  }

  :focus-visible {
    @apply outline-dashed outline-2 outline-offset-8 outline-white;
  }
}

@layer components {
  .btn {
    @apply rounded-full font-body text-lg font-semibold leading-[1.38889] -tracking-[0.129xp] text-white transition-all duration-300 ease-in-out hover:bg-white/35 hover:px-8 hover:py-4 hover:font-heading hover:font-bold focus-visible:bg-white/35 focus-visible:px-8 focus-visible:py-4 focus-visible:font-heading focus-visible:font-bold;
  }
  .btn-mobile {
    @apply rounded-full font-body text-sm font-semibold leading-tight -tracking-[0.143px] text-secondary-400 transition-all duration-300 ease-in-out hover:bg-primary-500 hover:px-8 hover:py-4 hover:font-heading hover:font-bold hover:uppercase hover:text-black focus-visible:bg-primary-500 focus-visible:px-8 focus-visible:py-4 focus-visible:font-heading focus-visible:uppercase focus-visible:text-black focus-visible:outline-primary-700;
  }

  .cta {
    font-size: clamp(2rem, 1.2925rem + 3.0189vw, 2.5rem);
    letter-spacing: clamp(-0.0143125rem, -0.0093rem + -0.0215vw, -0.017875rem);
    @apply font-heading font-black leading-normal text-secondary-200;
  }
  .footer-nav {
    @apply text-primary-750 font-body text-lg font-semibold leading-[1.38889] -tracking-[0.129px] transition hover:text-white;
  }
  .footer-social {
    @apply fill-primary-750 transition hover:fill-white;
  }
}
